aiohttp
aiosignal
asgiref
async-timeout
attrs
certifi
charset-normalizer
decorator
Django
djangorestframework
frozenlist
dj-database-url
idna
imageio
imageio-ffmpeg
moviepy
multidict
numpy=
openai
Pillow
proglog
pytz
requests
sqlparse
tqdm
urllib3
yarl
gunicorn
django-cors-headers
psycopg2-binary
whitenoise